body {
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    background-color: #151515;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 160px;
}

header h1 {
    font-size: 1.8rem;
    color: #e50914;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px 15px;
    width: 300px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 1px solid #444;
    background-color: #202020;
    color: #ffffff;
    transition: all 0.3s;
}

.search-bar input:focus {
    outline: none;
    border-color: #e50914;
}

.search-bar input::placeholder {
    color: #888;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 0.9rem;
    background-color: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #bf0810;
}

.container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e50914;
    border-bottom: 2px solid #e50914;
    display: inline-block;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.film-card {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.film-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.film-card img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.film-card h3 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.film-card a {
    text-decoration: none;
    color: #e50914;
    font-weight: bold;
    transition: color 0.3s;
}

.film-card a:hover {
    color: #bf0810;
}

footer {
    background-color: #151515;
    padding: 20px;
    text-align: center;
    color: #aaaaaa;
    border-top: 3px solid #e50914;
    font-size: 0.9rem;
}

footer a {
    color: #e50914;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #bf0810;
}
